<div class="row">
  <div class="col-12">
    <h1 style="text-align: center;">Adicionar</h1>
    <form [formGroup]="eventForm">

        <div class="col-md-4 col-12">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control"  formControlName ="title" name="title" id="title"/>
        </div>

        <div>
          <div class="col-md-4 col-12">
            <label for="start">Data</label>
            <p-calendar name="start" formControlName = "start" dateFormat="mm-dd-yy" [showTime]="true"   id="start" inputStyleClass="form-control"></p-calendar>
            <!--
              <input type="text" class="form-control" formControlName ="start" name="start" id="start"/>
            -->
          </div>
        </div>




      <div>
        <div>
          <button (click)="addEvent()" type="button" type="submit" class="btn btn-primary btn-block">Adicionar Evento</button>
        </div>
      </div>

    </form>
  </div>
</div>
