<div class="row">
  <div class="col-12">
    <h1>Adicionar</h1>
    <form (ngSubmit)="addEvent()">

      <div class="row form-group" >
        <div class="col-md-4 col-12">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" name="descricao" id="descricao" [(ngModel)]="event.descricao" />
        </div>

        <div class="col-md-4 col-12">
          <label for="start">Início</label>
          <p-calendar name="inicio" id="inicio" inputStyleClass="form-control" [(ngModel)]="event.inicio"></p-calendar>
          <p-checkbox id="verific" name="show-end" label="Tem fim o evento?" [binary]="true" [(ngModel)]="showEnd"></p-checkbox>

        </div>

        <div class="col-md-4 col-12" *ngIf="showEnd">
          <label for="end">Fim</label>
          <p-calendar name="fim" id="fim" inputStyleClass="form-control" [(ngModel)]="event.fim"></p-calendar>
        </div>

      </div>

      <div class="row form-group">
        <div class="col-12" id="btn">
          <button type="button" type="submit" class="btn btn-primary btn-block">Adicionar Evento</button>
        </div>
      </div>

    </form>
  </div>
</div>
