<div class="row" id="header">
  <div class="col-1 border p-2">

    <!--COLOCAR LOGO AQUI-->
    <img class="img-fluid" src="/assets/img/LogoMayk.png" alt="50%">

  </div>
  <div class="col-11 border">

    <nav class="nav text-left">
      <a class="nav-link active" [routerLink]="['/events']" routerLinkActive="router-link-active" href="#">Eventos</a>
      <a class="nav-link" href="#" [routerLink]="['/add-event']" routerLinkActive="router-link-active">Adicionar Eventos</a>
      <a class="nav-link disabled" href="#">Pequisa</a>
    </nav>
  </div>
</div>
