<div class="content">
  <h1>CONTAS DO MÊS</h1>

  <div class="mat-elevation-z8 content-table">
    <table class="table" mat-table [dataSource]="contas">


      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
      </ng-container>

      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef> MÊS </th>
        <td mat-cell *matCellDef="let row"> {{row.mes }} </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> DESCRIÇÃO </th>
        <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> VALOR </th>
        <td id="valores" mat-cell *matCellDef="let row"> R${{row.valor}} </td>
      </ng-container>

      <ng-container matColumnDef="dataDaConta">
        <th mat-header-cell *matHeaderCellDef> DATA DA CONTAS </th>
        <td mat-cell *matCellDef="let row"> {{row.dataDaConta | date:'dd/MM/YY'}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef> AÇÕES </th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" routerLink="/contas/update/{{row.id}}">
            <i class="material-icons">edit</i>
          </a>

          <a class="delete" routerLink="/contas/delete/{{row.id}}">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <form>
    <div class="SomaTotal">
      <h3>
        <label for="descricao">Total de gasto no mês:</label>
      </h3>

      <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <input type="text" class="form-control" [value]="valor" aria-label="Amount (to the nearest dollar)" disabled>
      </div>


    </div>
  </form>

</div>
<app-footer></app-footer>
